body {
    background-color: #9e9e9e42;
    display: flex;
    min-height: 100vh;
}

main {
    height: 100%;
    display: flex;
    /* gap: 50px; */
    flex: 1;
}

.list-item {
    display: flex; 
    background-color: aquamarine;
    flex: 5;
}

.cart-wrapper {
    display: flex; 
    background-color: rgb(217, 255, 0);
    flex: 2;
}
.line{
    margin-top: 2.5vh;
    width: 0;
    border: 2.5px solid #868686 ;
    border-radius: 3px;
    height: 95vh;
    left: 71%;
}
.img-item{
    width: 160px;
    height: 200px;
    border-radius: 5px;
}